#products .container {
    margin-top: 6rem;
}

/* Product page */
#product {
    min-height: 66vh;
}
.row .mini_imgs img {
    width: 100%;
    object-fit: cover;
}

#product .product_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0 0 0 /0.6);
    height: 100%;
}

#product .product_details ul li {
    color: coral;
}

#product .product_details ul li span {
    color: rgba(0 0 0 /0.6);
}

@media (max-width: 768px) {
    #product .product_details {
        margin-top: 1rem;
    }

}