<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Katar Kherak</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>


<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/imgs/logo.png" alt="" width="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link about" aria-current="page" href="/about.html">About us</a>
                    </li>
                    <li class="nav-item d-lg-flex align-items-center">
                        <a class="nav-link find-food" aria-current="page" href="/products.html">
                            <i class="bi bi-geo-alt"></i> Find Food
                        </a>
                        <a class="nav-link donate" aria-current="page" href="/donate.html">
                            <i class="bi bi-heart"></i> Donate
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero -->
    <header class="py-5" id="hero">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white" id="hero-text">
                <h1 class="fw-bolder">Let's start <br> saving food</h1>

                <!-- BTNS -->
                <div class="btns">
                    <a href="./signup.html">donators</a>
                    <a href="">beneficiaries</a>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()
<footer class="pt-4">
    <div class="container">

        <div class="row">
            <div class="col">
                <a class="navbar-brand" href="#">
                    <img src="/assets/imgs/logo.png" alt="" width="100">
                </a>
            </div>

            <div class="col">
                <h6>John Doe 12, 15547 Cairo</h6>
                <h6>0123254847</h6>
            </div>

            <div class="col">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-youtube"></i></a>
            </div>
        </div>

        <div class="text-center bg-light mt-2">
            <span class="m-0 mt-2 copy-rights">Copyright ©2022 Katar Kherak</span>
            <span class="m-0 copy-rights">All Rights Reserved</span>
        </div>
    </div>
</footer>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="/assets/js/bootstarp.bundel.js"></script>*@
    <script src="/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
