footer .container {
 border-top: 2px solid var(--color-dark);
 padding: 1.5rem 0;
}

footer .container .row {
    align-items: center;
}

footer .container i {
    font-size: 1.6rem;
    margin: 0 1rem;
    color: #000;
}

footer .container span {
    font-size: 12px;
}